<%= form_for [@tag, Tag.new], :remote => true, :class => "new_comment" do |f| %>
    <p>
      <%= f.label :body, 'New Comment' %>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit 'Add Comment' %>
    </p>
<% end %>