// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  border: 1px solid lightGrey;
  background-color: #99cc99;
  box-shadow: 0 1px 4px #4F497A;
  margin: 8px;
}